Repository Pios15/SE2-Group01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}', eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

update package-lock.json for server
  server/package-lock.json
Due: none

updated json lock
  client/package-lock.json
  client/package.json
  package-lock.json
  server/package-lock.json
  server/package.json
Due: none

add a ref to service on ticket table.
  server/office.db
Due: none

updated lint and json
  .lintstagedrc
  package.json
Due: none

commit of the images and client ui
  client/package.json
  client/public/images/delivery.png
  client/public/images/email.png
  client/public/images/letter.png
  client/public/images/mobile-banking.png
  client/src/App.jsx
  client/src/components/gameStyle.css
  server/package-lock.json
Due: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}'

adjust db
  server/office.db
Due: none

asdka
  .lintstagedrc
  package.json
  server/office.db
Due: none

fix package json
  client/package-lock.json
  package.json
  server/package-lock.json
Due: none

custom font and buttons
  client/package.json
  client/src/App.jsx
  package-lock.json
Due: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}'

fix: database issues
  server/office.db
Due: none

add api for get ticket
  client/package-lock.json
  package-lock.json
  server/dao.mjs
  server/model.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

feature qr code generation v1
  server/ticketDAO.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add display ticket
  package-lock.json
  package.json
  server/DAO/ticketDAO.mjs
  server/index.mjs
  server/package.json
  server/test.http
  server/ticketDAO.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

added eta to tickets
  .gitignore
  server/index.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

feat: Add calculation of waiting time
  server/controllers/TicketController.mjs
  server/dao/TicketDao.mjs
  server/index.mjs
  server/routers/TicketRoutes.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

update average time of each service.
  server/controllers/serviceController.mjs
  server/dao/serviceDao.mjs
  server/routers/serviceRouter.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add router and controller for service.
  server/controllers/serviceController.mjs
  server/routers/serviceRouter.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

Merge of dao functions and update of index.mjs
  server/DAO/ticketDAO.mjs
  server/dao.mjs
  server/index.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

Update functions with updated attributes of database
  server/DAO/ticketDAO.mjs
  server/index.mjs
  server/model.mjs
  server/office.db
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

fix: fix db bugs
  server/office.db
Due: none

apply limit.
  server/dao/serviceDao.mjs
  server/index.mjs
  server/routes/serviceRouter.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

new UI for displaying the call and creating a separate components
  client/index.html
  client/public/images/arrow-right.png
  client/public/images/post-office.png
  client/public/images/walking.png
  client/src/App.jsx
  client/src/components/DisplayCall.jsx
  client/src/components/GetTicket.jsx
  client/src/main.jsx
Due: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}'

feat: add jest
  package-lock.json
  package.json
Due: none

fix typo in query.
  server/controllers/serviceController.mjs
  server/dao/serviceDao.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

UI for notify system
  client/src/App.jsx
  client/src/components/NotifySistem.jsx
Due: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}'

new component notiftSystem
  client/package-lock.json
  client/src/App.jsx
  client/src/components/NotifySistem.jsx
  server/package-lock.json
Due: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}'

Delete package-lock.json
  package-lock.json
Due: none

Delete client/package-lock.json
  client/package-lock.json
Due: none

Delete server/package-lock.json
  server/package-lock.json
Due: none

fix displayCall
  client/package-lock.json
  client/src/components/DisplayCall.jsx
Due: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}'

Update functions with updated attributes of database
  server/DAO/ticketDAO.mjs
  server/index.mjs
  server/model.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add interaction with db
  server/DAO/ticketDAO.mjs
  server/index.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

fix: update db (change end_time with spent_time)
  server/office.db
Due: none

fix server
  client/package-lock.json
  package-lock.json
  server/DAO/ticketDAO.mjs
  server/index.mjs
  server/office.db
  server/package-lock.json
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

service_type -> id
  server/office.db
Due: none

Path conditions:
  eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}': any of: client/**/*.{js,jsx}
  prettier --write 'client/**/*.{js,jsx,mjs}': any of: client/**/*.{js,jsx}
  eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}': any of: server/**/*.{js,mjs}
  prettier --write 'server/**/*.{js,mjs}': any of: server/**/*.{js,mjs}
