Repository Pios15/SE2-Group01: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}', eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

refactor based on new version of db
  server/controllers/serviceController.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

refactor based on new version of db
  server/dao/serviceDao.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

added waiting time
  client/package-lock.json
  server/DAO/ticketDAO.mjs
  server/controllers/TicketController.mjs
  server/index.mjs
  server/model.mjs
  server/office.db
  server/routers/TicketRoutes.mjs
  server/test.http
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

fix: Code adjustment
  server/controllers/TicketController.mjs
  server/dao/TicketDao.mjs
  server/routers/TicketRoutes.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

feat: test configuration
  package-lock.json
  server/babel.config.js
  server/eslint.config.mjs
  server/jest.config.js
  server/package.json
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

feat: test implementation
  server/office.db
  server/test_unit/controller_tests/ticket.test.js
  server/test_unit/dao_tests/ticket.test.js
  server/test_unit/route_tests/ticket.test.js
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

fix:change the export changes
  server/index.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

Update DAO function compute_next_ticket_number
  server/DAO/ticketDAO.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add a refrence to counter id in ticket table.
  server/office.db
Due: none

add API for UI
  client/API/API.js
  client/src/App.jsx
  client/src/components/DisplayCall.jsx
  client/src/components/GetTicket.jsx
  client/src/components/NotifySystem.jsx
  package-lock.json
  server/index.mjs
  server/office.db
  server/package.json
  server/routers/TicketRoutes.mjs
Due: eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}', prettier --write 'client/**/*.{js,jsx,mjs}', eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add wating time
  server/DAO/ticketDAO.mjs
  server/controllers/TicketController.mjs
  server/routers/TicketRoutes.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

fix tickets folder
  .gitignore
  server/tickets/3A.pdf
Due: none

delete file from tickets
  server/tickets/3A.pdf
Due: none

added permanent tickets folder
  server/tickets/.gitkeep
Due: none

Add dao for updating history after a customer is served.
  server/DAO/historyDAO.mjs
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add unit tests of service (dao, countroller, router)
  server/unit_test/serviceController.test.js
  server/unit_test/serviceDao.test.js
  server/unit_test/serviceRouter.test.js
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add config file for jest.
  server/jest.config.js
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add jest config.
  server/jest.config.js
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

test changes
  server/coverage/clover.xml
  server/coverage/coverage-final.json
  server/coverage/lcov-report/base.css
  server/coverage/lcov-report/block-navigation.js
  server/coverage/lcov-report/favicon.png
  server/coverage/lcov-report/index.html
  server/coverage/lcov-report/prettify.css
  server/coverage/lcov-report/prettify.js
  server/coverage/lcov-report/server/controllers/TicketController.mjs.html
  server/coverage/lcov-report/server/controllers/index.html
  server/coverage/lcov-report/server/dao/TicketDao.mjs.html
  server/coverage/lcov-report/server/dao/index.html
  server/coverage/lcov-report/server/db.mjs.html
  server/coverage/lcov-report/server/index.html
  server/coverage/lcov-report/server/index.mjs.html
  server/coverage/lcov-report/server/routers/TicketRoutes.mjs.html
  server/coverage/lcov-report/server/routers/index.html
  server/coverage/lcov-report/sort-arrow-sprite.png
  server/coverage/lcov-report/sorter.js
  server/coverage/lcov.info
Due: eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}', prettier --write 'server/**/*.{js,mjs}'

add retrospective
  Retrospective/Retrospective.md
Due: none

Path conditions:
  eslint --cache --fix --config client/eslint.config.js 'client/**/*.{js,jsx,mjs}': any of: client/**/*.{js,jsx}
  prettier --write 'client/**/*.{js,jsx,mjs}': any of: client/**/*.{js,jsx}
  eslint --cache --fix --config server/eslint.config.mjs 'server/**/*.{js,mjs}': any of: server/**/*.{js,mjs}
  prettier --write 'server/**/*.{js,mjs}': any of: server/**/*.{js,mjs}
